{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>etoko</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<div class="min-h-screen bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-7xl mx-auto">
  
    <div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen flex flex-col">
      <div class="px-3 mb-4">
        <div class="flex rounded-md items-center bg-rose-600 py-2 px-4 w-fit">
          <h1 class="text-white text-center">Last Login: {{last_login}}</h1>
        </div>
    </div>
    
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 mb-12">
      {% include "card_info.html" with title='NPM' value=npm card_classes="shadow-lg bg-white rounded-lg p-6" %}
      {% include "card_info.html" with title='Name' value=name card_classes="shadow-lg bg-white rounded-lg p-6" %}
      {% include "card_info.html" with title='Class' value=class card_classes="shadow-lg bg-white rounded-lg p-6" %}
    </div>
    
    <div class="flex justify-end mb-6 gap-6">
      <a href="{% url 'main:create_product' %}" class="bg-blue-500 text-white font-semibold py-2 px-6 rounded-lg shadow-md hover:bg-blue-600 transition transform hover:-translate-y-1 hover:scale-105">
        Add New Product
      </a>
      <button data-modal-target="crudModal" data-modal-toggle="crudModal" class="btn bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105" onclick="showModal();">
        Add New product by AJAX
      </button>
    </div>

    <div id="product_cards"></div>

  </div>
    
    <div id="crudModal" tabindex="-1" aria-hidden="true" class="hidden fixed inset-0 z-50 w-full flex items-center justify-center bg-gray-800 bg-opacity-50 overflow-x-hidden overflow-y-auto transition-opacity duration-300 ease-out">
      <div id="crudModalContent" class="relative bg-white rounded-lg shadow-lg w-5/6 sm:w-3/4 md:w-1/2 lg:w-1/3 mx-4 sm:mx-0 transform scale-95 opacity-0 transition-transform transition-opacity duration-300 ease-out">
        <!-- Modal header -->
        <div class="flex items-center justify-between p-4 border-b rounded-t">
          <h3 class="text-xl font-semibold text-gray-900">
            Add New Product
          </h3>
          <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center" id="closeModalBtn">
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
            </svg>
            <span class="sr-only">Close modal</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="px-6 py-4 space-y-6 form-style">
          <form id="productForm">
            <div class="mb-4">
              <label for="mood" class="block text-sm font-medium text-gray-700">name</label>
              <input type="text" id="name" name="name" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Enter your product name" required>
            </div>
            <div class="mb-4">
              <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
              <textarea id="description" name="description" rows="3" class="mt-1 block w-full h-52 resize-none border border-gray-300 rounded-md p-2 hover:border-indigo-700" placeholder="Describe your description" required></textarea>
            </div>
            <div class="mb-4">
              <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
              <input type="number" id="price" name="price" min="1" max="10" class="mt-1 block w-full border border-gray-300 rounded-md p-2 hover:border-indigo-700" required>
            </div>
          </form>
        </div>
        <!-- Modal footer -->
        <div class="flex flex-col space-y-2 md:flex-row md:space-y-0 md:space-x-2 p-6 border-t border-gray-200 rounded-b justify-center md:justify-end">
          <button type="button" class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded-lg" id="cancelButton">Cancel</button>
          <button type="submit" id="submitMoodEntry" form="productForm" class="bg-indigo-700 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded-lg">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  async function getProducts(){
      return fetch("{% url 'main:show_json' %}").then((res) => res.json())
  }
  
    
 async function refreshProduct() {
    document.getElementById("product_cards").innerHTML = "";
    document.getElementById("product_cards").className = "";
    const moodEntries = await getProducts();
    let htmlString = "";
    let classNameString = "";

    if (moodEntries.length === 0) {
        classNameString = "flex flex-col items-center justify-center py-12";
        htmlString = `
          <div class="flex flex-col items-center justify-center py-12">
            <img src="https://cdn.pixabay.com/photo/2020/12/19/02/50/emoji-5843434_1280.png" alt="Sad face" class="w-32 h-32 mb-6 opacity-80 hover:opacity-100 transition duration-300" />
            <p class="text-gray-600 text-lg">Belum ada data barang pada etoko.</p>
          </div>
        `;
    }
    else {
        classNameString = "grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
        moodEntries.forEach((barang) => {
          const name = DOMPurify.sanitize(item.fields.name);
          const price = DOMPurify.sanitize(item.fields.price);
          const description = DOMPurify.sanitize(item.fields.description);
            htmlString += `
            <div class="relative break-inside-avoid max-w-sm mx-auto shadow-lg rounded-lg overflow-hidden transform transition-all duration-300 hover:scale-105 hover:shadow-2xl">
              <div class="relative bg-white border border-gray-200 rounded-lg">
                <div class="p-4 bg-gray-100 border-b">
                  <h3 class="font-bold text-2xl text-gray-900">${barang.fields.name}</h3>
                  <p class="text-gray-500">${barang.id}</p>
                </div>
                <div class="p-4">
                  <p class="font-semibold text-gray-800 text-lg mb-2">Description</p>
                  <p class="text-gray-600 mb-4">${barang.fields.description}</p>
                  <p class="font-semibold text-gray-800 mb-2">Price</p>
                  <div class="flex items-center">
                    <span class="text-xl text-green-600 font-bold">${barang.fields.price}</span>
                  </div>
                </div>
                <div class="p-4 flex justify-between bg-gray-100">
                  <a href="/edit-product/${ barang.pk }" class="bg-yellow-500 text-white px-4 py-2 rounded-lg transition duration-300 hover:bg-yellow-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-2" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                    </svg>
                    Edit
                  </a>
                  <a href="/delete/${barang.pk }" class="bg-red-500 text-white px-4 py-2 rounded-lg transition duration-300 hover:bg-red-600">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline-block mr-2" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                    </svg>
                    Delete
                  </a>
                </div>
              </div>
            </div>
            
            `;
        });
    }
    document.getElementById("product_cards").className = classNameString;
    document.getElementById("product_cards").innerHTML = htmlString;
}
refreshProduct();
const modal = document.getElementById('crudModal');
const modalContent = document.getElementById('crudModalContent');

function showModal() {
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modal.classList.remove('hidden'); 
    setTimeout(() => {
      modalContent.classList.remove('opacity-0', 'scale-95');
      modalContent.classList.add('opacity-100', 'scale-100');
    }, 50); 
}

function hideModal() {
    const modal = document.getElementById('crudModal');
    const modalContent = document.getElementById('crudModalContent');

    modalContent.classList.remove('opacity-100', 'scale-100');
    modalContent.classList.add('opacity-0', 'scale-95');

    setTimeout(() => {
      modal.classList.add('hidden');
    }, 150); 
}

document.getElementById("cancelButton").addEventListener("click", hideModal);
document.getElementById("closeModalBtn").addEventListener("click", hideModal);

function addMoodEntry() {
  fetch("{% url 'main:add_product_ajax' %}", {
    method: "POST",
    body: new FormData(document.querySelector('#productForm')),
  })
  .then(response => {
    refreshProduct();
    hideModal(); // Close the modal after submitting the form
  })
  .catch(error => {
    console.error('Error adding product:', error);
  });

  document.getElementById("productForm").reset(); // Reset the form after submission

  return false;
}

document.getElementById("productForm").addEventListener("submit", (e) => {
  e.preventDefault();
  addMoodEntry();
})

</script>
{% endblock content %}
