{% extends 'base.html' %}

{% block content %}
<h5>NPM: </h5>
<p>{{ npm }}<p>
<h5>Name: </h5>
<p>{{ name }}<p>
<h5>Class: </h5>
<p>{{ class }}<p>

{% if not data %}
<p>Belum ada data product pada etoko.</p>
{% else %}
<table>
    <tr>
    <th>ID</th>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in data %}
    <tr>
        <th>{{barang.id}}</th>
        <th>{{barang.name}}</th>
        <th>{{barang.price}}</th>
        <th>{{barang.description}}</th>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />
<h5>Sesi terakhir login: {{ last_login }}</h5>
<a href="{% url 'main:create_product' %}">
  <button>Add New Product</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
  
{% endblock content %}

  
   